body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #5bbe42;
}

.center {
text-align: center;
padding: 30px;
}


h1 {
    display: flex;
    padding: 20px;
    color: #5bbe42;

}

h2{
    display: flex;
    padding: 20px;
}
    

footer img {
width: 40px;
height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

footer a :hover{
    color: blue;
    transition: 1s;
}

.container {
    padding: 0px 50px;
}

nav a:hover{
    color: blue;
    transition: 1s;
}

nav{
    display: block;
    background-color: rgb(16, 16, 19);
    height: 38px;
    border-radius: 5px;
}

.linkedin{
color: blue;
font-size: 50px;
}

.email{
 color: white;
    font-size: 50px;
}

.facebook{
    color: blue;
    font-size: 50px;
}

.instagram{
    color: chartreuse;
    font-size: 50px;

}

.programador{
color: gold;
font-size: 30px;

}

.videos_privados{
color: crimson;
font-size: 30px;

}

.meus_arquivos{
color: cornflowerblue;
font-size: 30px;

}

.site{
    color: honeydew;
    font-size: 30px;
}

main{
    padding: 20px;
    border-radius: 10px;


    min-width: auto;
    max-width: auto;
    margin: auto;
}

@media (max-width: 1189px) {
    .projectNav {
        align-items: center;

    }

    .contactNav{
        align-items: center;
    }

}